:root{
  --primary: #000f55;
  --secondary: #0f479b;

  --primary-color: #002c53;

  --white: #fff;
  --black: #131422;
  --gray: #606172;
  --gray-010: #fafafa;
  --gray-020: #b8b8b8;
  --red: #a92317;

}
